[Unit]
Description=Telegram Server Monitoring Bot
After=network.target

[Service]
Type=simple
User=YOUR_USER
WorkingDirectory=/opt/tg-servmonitoringbot
EnvironmentFile=/opt/tg-servmonitoringbot/.env
ExecStart=/opt/tg-servmonitoringbot/tg-monitor-bot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

